.bg-img1, .bg-img2 {
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-img1 {
	background-image: url('../img/header.jpg');
	min-height: 100%;
}
.bg-img2 {
	background-color: #b61924;
	background-image: url('../img/img4.jpg');
	min-height: 100%;
}